@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.brand-yellow { color: #FBB03B; }
.bg-brand-yellow { background-color: #FBB03B; }
.border-brand-yellow { border-color: #FBB03B; }

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
